{% extends 'globalView.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>#{{ user.id }} - @{{ user.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>List of {{ user.name }}'s devices :</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Unsubscribe</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in user.devices %}
                        <tr>
                            <td>#{{ device.id }}</td>
                            <td><a href="">@{{ device.name }}</a></td>
                            <td><a class="btn btn-block btn-light" href="">Unsubscribe</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h2>Add Device</h2>
            </div>
        </div>
    </div>
{% endblock %}